[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.25"
pandas = ">=1.2"
numpy = "*"

[dev-packages]
parcllabs = {path = ".", editable = true}
pytest = ">=8"
ruff = "*"

[requires]
python_version = "3.11.11"
