[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"

[dev-packages]
black = "*"
parcllabs = {path = ".", editable = true}
twine = "*"
pytest = "*"
requests-mock = "*"
requests = "*"
build = "*"

[requires]
python_version = "3.9"
