[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.25,<3"
pandas = ">=1.2,<2"
alive-progress = "*"
numpy = "*"

[dev-packages]
black = ">=22.0,<23"
parcllabs = {path = ".", editable = true}
pytest = ">=6.0,<7"
requests-mock = ">=1.8,<2"

[requires]
python_version = ">=3.9, <3.12"
